body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.home {
    color: #2eb19a !important;
}
img, svg {
    vertical-align: middle;
    margin-right: 100px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 30px !important;
    font-weight: bold;
    color: black !important;
    font-size: 0.9rem;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #2eb19a !important;

}
.search:hover{
    color: #2eb19a;
}
.search{
    padding-right: 20px;
    color:rgba(0, 0, 0, 0.7);
}
.shop-nav{
    color:rgba(0, 0, 0, 0.7);
}
.justufy{
    color:rgba(0, 0, 0, 0.7);
}
.justufy:hover{
    color: #2eb19a;
}
.justufy{
    padding-left: 20px;
}
.shop-nav:hover{
   color: #2eb19a;
}
.icon-nav{
    margin-left: 50px;
}
/* sub menu 1 fail */
.sub-menu-1{
    display: none;
    
}

/* carousel-item */
.header-banner .carousel-item{
    background: no-repeat;
    background-size: cover;
}
/* carousel-caption */
.header-banner .carousel-caption{
    bottom: 15%;
    text-align: left;
    letter-spacing: 2px;
}
.header-banner .carousel-caption h1{
    font-size: 6rem;
}
.header-banner .carousel-caption p{
    font-size: 1rem;
}
/* shop now bottom */
.header-banner .shop-now{
    margin-top: 30px;
  background-color: #27ae93;
  border: none;
  color: white;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
.header-banner .shop-now:hover{
    background: #ff9900;
}
.mid-header{
    margin-top: 100px;
}
.mid-header h5{
    color: #27ae96;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.mid-header h1{
    color: #000;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 3.9rem;
    padding: 20px 0;
}
.mid-header .text{
    color: #000;
    letter-spacing: 0.4rem;
    font-size: 1.9em;
    font-weight: unset;
}

/* read-more */
.read-more{
    background-color: #27ae93;
    border: none;
    margin-top: 30px;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
}
.read-more:hover{
    background: #ff9900;
    text-decoration: none;
    color: white;
}
/* endheader */
.end-header{
    margin-top: 100px;
}
.end-header h3{
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.3rem;
}
.end-header p{
    margin-top: 10px;
    color: #7f7f7f;
    text-align: left;
    margin-bottom: 100px;
}
/* banner */
.banner .carousel-caption{
    bottom: 15%;
    text-align: center;
}
.banner .carousel-caption h1{
    font-size: 6rem;
    padding-bottom: 20px;
}
.banner .carousel-caption p{
    font-size: 1.2rem;
    letter-spacing: 2px;   
}
/* ourgallery  title*/
.ourgallery .title{
    text-align: center;
    margin-top: 100px;
}
.ourgallery .title p{
    color: #27ae93;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.ourgallery .title h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 50px;
}
/* ourgallery images */
.ourgallery .images{
    /* display: inline-block; */
    padding: 10px 20px;
}
/* opacity images */
.ourgallery .images .content{
    color: black;
    font-size:25px;
    background: #fff;
    padding: 20px;
    position: absolute;
    top:0%; 
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.ourgallery .images .content:hover{
    opacity: 0.85;

}
/* testimonials */
.testimonials{
    background: url(../images/bg-pattern-1.jpg)
}
.testimonials .title{
    text-align: center;
    margin-top: 100px;
}
.testimonials .title p{
    padding-top: 100px;
    color: #27ae93;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.testimonials .title h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 50px;
}

/* feedback */
.testimonials .feedback .item{
    border-radius: 10px;
    background: #ffff;
    
}
.testimonials .feedback .item i{
  color: #d0ede7;
  font-size: 4rem;
  text-align: center;
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
}
.testimonials .feedback .item p{
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: #7f7f7f;
  font-weight: 500;
  text-align: center;
  padding: 0 40px;
  
}
.testimonials .feedback .item .image img{
    border-radius: 40px;
    margin: 20px 30px;
}
.testimonials .feedback .item .image{
   display: flex;
   padding-left: 110px;
   text-align: center;
   margin-bottom: 50px;
   
}
.testimonials .feedback .item .text{
   padding: 25px 0;
}
.testimonials .feedback .item .text p{
   color: #f49d50;
   text-align: left;
   font-style: italic;
}
.testimonials .feedback .item .text h4{
   text-align: left;
}
.testimonials .radiobuttom{
  padding: 80px 20px;
  text-align: center;
}

/* counter */

.counter
{
    background-color: #fff;
    text-align: center;
}
.employees,.customer,.design
{
    margin-top: 70px;
    margin-bottom: 70px;
    
}
.counter-count{
    /* text-align: center; */
    color: #fff;
    font-size: 0%;
    /* font-size: 2rem; */
    width: 15%;
    margin-left:150px;
    /* letter-spacing: 0.6rem; */
    border-bottom: solid 2px #f49d50;
}
.text-p{
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.6rem;
}
/* .text-p_{
    border-right: solid 2px #f49d50;
} */
.employee-p,.customer-p,.design-p
{
    font-size: 1.2rem;
    color: #000000;
    line-height: 24px;
    letter-spacing: 0.1rem;
    font-weight: normal;
    font-style: unset;
    text-transform: uppercase;
}
.ha{
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
}
/* ourhistory */
.ourhistory{
    background: url(../images/grid-gallery-5-1200x800-original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}
.ourhistory .title{
    text-align: center;
    margin-top: 50px;
}
.ourhistory .title p{
    padding-top: 100px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.4rem;
}
.ourhistory .title h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 50px;
}
.ourhistory .title-main{
    color: #000000   ;
    text-align: center;
    font-size: 2.1rem;
}
.ourhistory .title-p{
    color: #777777;
    text-align: center;
}
.ourhistory .items{
    border-radius: 0px;
    background: #ececef;
    padding: 30px;
    opacity: 0.7;
}
.logo-icon{
   display: flex;
   margin: 0 !important;
   margin-top: 20px;
   padding-top: 14px;
   /* background: rgb(248, 240, 240); */
   background: #FFFAFA;
   border-radius: 30px;
   text-align: center
}
.logo-icon p{
   padding: 0 11rem;
   color: #27ae96;
   font-weight: bold;
   font-size: 1.2rem;

}
.logo-icon .chevron{
text-decoration: none;
margin-left: 2rem;
font-size: 1rem;
padding: 0;
font-weight: 600;
color: #7f7f7f;
border-bottom: 2px solid #7f7f7f;
margin-bottom: 12px;
}
/* latestnews  title*/
.latestnews .news .col-md-6 .item{
    /* box-shadow: 5px 0px 10px -10px #7f7f7f inset; */
    box-shadow: 5px 0px 15px -13px #7f7f7f inset;
    border-radius: 8px;
}
.latestnews .title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.latestnews .title p{
    color: #27ae93;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.latestnews .title h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 50px;
}
/* news */
.latestnews .news .item{
    padding: 0.2rem;
    background: #fff;
    
}
.latestnews .news .a-news{
    text-decoration: none;
    border-bottom: 2px solid #27ae93;
    width: 10%;
    margin-left: 9%;
    padding-left: 4px !important;
    /* padding-right: 0 50px; */
    margin-right:50px;
    padding-top: 20px;
    display: inline-block;
    color: #000000;
}
.latestnews .news .a-health{
    text-decoration: white;
    padding: 0 50px;
    padding-top: 20px;
    display: inline-block;
    font-weight: normal;
    font-size: 1.7rem;
    color: #000000;
}
.latestnews .news .item p{
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: #7f7f7f;
  text-align: left;
  padding: 0 50px;
  padding-top: 10px;
  
}
.latestnews .news .item .image{
    padding-top: 20px;
}
.latestnews img{
    margin: 0;
}
.map{
    margin-top: 100px;
}
/* about */
.about{
    width: 1348px;
    height: 400px;
    background: #444a4d;
}
.about a{
   text-decoration: none;
   color: #fff;
}
.about a:hover{
   text-decoration: none;
   color: #2eb19a;
}
.about .logo{
   margin-bottom: 50px;
}
.about p{
    color: #fff;
 }
.about .item{
    padding-top: 100px;
    padding-bottom: 100px;
}
.about .item .getsocial i{
    padding: 0 5px;
}
.about .item .getsocial{
    padding: 10px 0;
    border-top: 1px solid #696e71;
}
.about .item2 h1{
    padding-top: 100px;
    padding-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}
.about .item2 a{
    color: #fff;
    text-decoration: none;
}
.about .item2 i{
    color: #27ae96;
}
.about .item2 a:hover{
    color: #27ae96;
}
.about .item2 .link2{
    color: #27ae96;
    padding: 15px 0;
}
#email{
    /* margin-top: 10px; */
    background: #444a4d;
    color: #ffff;
    border: none;
    padding-bottom: 10px;
    padding-right: 20px;
    /* box-shadow: 0 1px tomato; */
    border-bottom: 1px solid tomato;
}
.about .item2 .search .submit{
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 30px;
    background: #27ae93;
    display: inline-block;
   
}
.about .item2 .search i{
    color: #fff;
}
.about .item2 .search .submit a:hover{
    display: inline-block;
    background: #fff;
    color: #fff;
   
}
footer{
    padding: 40px;
    padding-left: 120px;
    background: #31383b;
    color: #7f7f7f;
}
footer .img1{
  margin-left: 20%;
}
footer img{
  padding: 0 10px;
  margin: 0;
}
footer a{
display: inline-block;
padding-left: 20%;
color: #7f7f7f;
}
footer a:hover{
color: #27ae96;
text-decoration: none;
}
.to-top {
    position: fixed;
    bottom: 5px;
    right: 30px;
    color: #fff;
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 30px;
    background: #27ae93;
    opacity: 0.5;
}
.to-top:hover{
    position: fixed;
    bottom: 5px;
    right: 30px;
    color: #fff;
    /* color: #fff;
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 30px; */
    background: #27ae93;
    opacity: 0.9;
}

/* mobile width < 740px */
@media only screen and(max-width:46.1875em) {
    .header-banner {
        height: 40%;
    }
    body{
        background: #000;
    }
    h1{
        color: red;
    }
    #carouselExampleControls{
        height: 40%;
    }
}
/* tablet width >= 740px and width < 1024px */
@media only screen and(min-width:46.25em)and (max-width:63.9375em) {
    body{
        background: #000;
    }
}